body {
  background: #353535;
  font-family: sans-serif, arial;
  background-size: cover;
  text-align: center;
}

svg {
  background: #fff;
  padding: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  top: 200px;
}

.lyrics {
  margin: 0 auto;
}

li {
  margin: 50px 0;
}

li span {
  font-size: 2em;
  color: #8c8c8c;
  line-height: 70px;
  padding: 15px 35px;
}

.selected {
  transition: background-color 1s, color 0.2s,font-size .4s  linear;
  background: white;
  color: black;
  
  font-size: 2.2em;
}

.resetlyricsStyle {
  transition: background-color, color .3s linear;
  background: none;
  color: #8c8c8c;
}