body {
  background: #3a0751;
  font-family: sans-serif, arial;
  background-size: cover;
  text-align: center;
}

svg {
  background: #fff;
  padding: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  top: 200px;
}

.lyrics {
  margin: 0 auto;
}

li {
  margin: 50px 0;
}

li span {
  font-size: 2em;
  color: #8c8c8c;
  line-height: 70px;
  padding: 15px 35px;
}

.selected {
  transition: background-color 1s, color 0.2s,font-size .4s  linear;
  background: white;
  color: black;
  
  font-size: 2.2em;
}

.wordSelected {
  color: red;
  font-size: 2.5em;
}

.resetlyricsStyle {
  transition: background-color, color .3s linear;
  background: none;
  color: #8c8c8c;
}

form {
  background-color: white;
  width: 300px;
  height: fit-content;
  margin: 0 auto;
}

.label_title {
  color: white;
  font-size: 20px;
  font-weight: 200;
  margin-left: 10px;
}

#lyrics_input {
  height: 200px;
  width: 500px;
}

.progress {
  display: none;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 500px;
  width: 500px;
}

#submit {
  margin-top: 15px;
}